article {
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
}

.submitted-words {
  background-color: red;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.submitted-words .submitted-letter {
  border: 3px solid black;
  font-size: 50px;
  height: 70px;
  margin: 5px;
  padding: 2px;
  transition: all .1s;
}